<div class="container">
  <div class="careers-wrapper">
    <h1 class="careers-header">Careers</h1>

    <div class="careers-content">
      <h3 class="content_header">Regulatory Affairs Specialist</h3>
      <p class="content_text-box">
        A regulatory affairs person in the field of medical devices plays a
        crucial role in ensuring that medical devices meet the necessary
        regulatory requirements and can be legally marketed and sold. Their
        responsibilities are diverse and can vary depending on the specific
        organization and the nature of the medical devices being developed or
        manufactured. Here are some common roles and responsibilities of a
        medical device regulatory affairs professional:
      </p>
      <div class="pl-12px box">
        <p class="box-text">1. Regulatory Compliance:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Monitor and stay up-to-date with relevant laws, regulations, and
            guidelines related to medical devices, both domestic and
            international.
          </li>
          <li class="box-list_item">
            Ensure that the organization's medical devices comply with all
            applicable regulatory requirements.
          </li>
        </ul>
        <p class="box-text">2. Product Registration and Licensing:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Prepare and submit regulatory submissions, such as 510(k) premarket
            notifications, Premarket Approval (PMA) applications, CE Marking
            applications, and other regulatory filings.
          </li>
          <li class="box-list_item">
            Coordinate with regulatory agencies (e.g., FDA, EMA, or other
            regulatory bodies) to obtain product approvals and maintain
            licenses.
          </li>
        </ul>
        <p class="box-text">3. Quality Management Systems (QMS):</p>
        <ul class="box-list">
          <li class="box-list_item">
            Develop, implement, and maintain quality management systems, such as
            ISO 13485, to ensure the quality and safety of medical devices.
          </li>
          <li class="box-list_item">
            Perform internal audits and support external audits by regulatory
            authorities.
          </li>
        </ul>
        <p class="box-text">4. Labeling and Packaging:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Review and approve labeling, packaging, and marketing materials to
            ensure they comply with regulatory requirements and accurately
            represent the device.
          </li>
        </ul>
        <p class="box-text">5. Clinical Trials:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Assist in planning and conducting clinical trials for medical
            devices, ensuring compliance with regulatory standards.
          </li>
          <li class="box-list_item">
            Submit Investigational Device Exemption (IDE) applications when
            necessary.
          </li>
        </ul>
        <p class="box-text">6. Risk Management:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Implement risk management processes, such as ISO 14971, to assess
            and mitigate risks associated with medical devices.
          </li>
        </ul>
        <p class="box-text">7. Post-Market Surveillance:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Monitor and report adverse events and other post-market safety and
            efficacy data to regulatory agencies.
          </li>
          <li class="box-list_item">
            Maintain post-market surveillance systems and ensure compliance with
            post-market surveillance requirements.
          </li>
        </ul>
        <p class="box-text">8. Change Management:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Evaluate and document changes to existing medical devices or
            manufacturing processes to ensure regulatory compliance.
          </li>
          <li class="box-list_item">
            Determine if regulatory submissions are required for significant
            changes.
          </li>
        </ul>

        <p class="box-text">9. Regulatory Strategy:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Develop and implement regulatory strategies for product development
            and market entry.
          </li>
          <li class="box-list_item">
            Advise cross-functional teams on regulatory considerations and
            implications.
          </li>
        </ul>

        <p class="box-text">10. Training and Communication:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Educate and train company personnel on regulatory requirements and
            changes.
          </li>
          <li class="box-list_item">
            Communicate with regulatory authorities and respond to inquiries or
            requests for information.
          </li>
        </ul>
      </div>
      <p class="text">
        The specific roles and responsibilities may vary depending on the
        organization, the type of medical devices, and the applicable regulatory
        framework. Regulatory affairs professionals need to work closely with
        cross-functional teams, including research and development, quality
        assurance, marketing, and legal departments, to ensure that medical
        devices are compliant with all relevant regulations and can be brought
        to market successfully. They play a critical role in navigating the
        complex and ever-evolving regulatory landscape for medical devices.
        <br />
        <br />
        Education Requirements: MS in Science and 10+ years of experience in
        medical device and drug approval process. Excellent knowledge of ISO
        13485, EU IVDR, EU MDR, MDSAP, EMEA, EU and FDA regulations.
      </p>
    </div>
    <div class="careers-content">
      <h3 class="content_header">Software Quality Assurance Engineer</h3>
      <p class="content_text-box">
        A medical device software regulatory affairs and quality assurance (QA)
        professional plays a vital role in ensuring the compliance and safety of
        medical device software. The responsibilities of an individual in this
        role can be diverse, with a focus on regulatory affairs, quality
        management, and the unique considerations related to medical device
        software. Here are the typical roles and responsibilities of a medical
        device software regulatory affairs and QA person:
        <br /><br />
        Medical Device Software Regulatory Affairs:
      </p>
      <div class="pl-12px box">
        <p class="box-text">1. Regulatory Compliance:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Stay informed about the latest regulatory requirements and
            guidelines related to medical device software, such as FDA guidance
            documents, IEC 62304, and ISO 13485.
          </li>
          <li class="box-list_item">
            Ensure that the organization's medical device software complies with
            all relevant regulatory standards.
          </li>
        </ul>

        <p class="box-text">2. Regulatory Submissions:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Prepare and submit regulatory submissions, which may include
            premarket notifications (510(k)), Premarket Approval (PMA)
            applications, or other relevant filings, depending on the software's
            classification.
          </li>
          <li class="box-list_item">
            Collaborate with regulatory agencies to obtain clearances or
            approvals.
          </li>
        </ul>

        <p class="box-text">3. Risk Management:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Implement and maintain risk management processes for software in
            accordance with ISO 14971, identifying and mitigating potential
            risks associated with the software.
          </li>
        </ul>

        <p class="box-text">4. Labeling and Documentation:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Review and approve labeling, documentation, and user manuals to
            ensure they meet regulatory requirements and accurately represent
            the software's intended use and functionality.
          </li>
        </ul>

        <p class="box-text">5. Clinical Evidence:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Assist in planning and conducting clinical evaluations or studies
            for medical device software when necessary to demonstrate safety and
            efficacy.
          </li>
        </ul>

        <p class="box-text">6. Software Validation and Verification:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Ensure that software validation and verification processes are in
            place, adhering to relevant standards (e.g., IEC 62304), to
            demonstrate that the software functions as intended and is safe to
            use.
          </li>
        </ul>

        <p class="box-text">7. Change Management:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Evaluate and document changes to the software or its development
            processes, determining if regulatory submissions are required for
            significant changes.
          </li>
        </ul>
        <p class="box-text">Quality Assurance (QA):</p>
        <br />
        <p class="box-text">1. Quality Management System (QMS):</p>
        <ul class="box-list">
          <li class="box-list_item">
            Develop, implement, and maintain a QMS specific to medical device
            software, such as ISO 13485, to ensure the quality, safety, and
            efficacy of the software.
          </li>
        </ul>

        <p class="box-text">2. Software Development Processes:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Establish and oversee software development processes that align with
            regulatory requirements and quality standards, including design
            controls, software lifecycle processes, and configuration
            management.
          </li>
        </ul>

        <p class="box-text">3. Validation and Verification Testing:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Plan and execute thorough validation and verification testing to
            ensure the software meets quality and regulatory standards.
          </li>
        </ul>

        <p class="box-text">4. Document Control:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Manage document control procedures, ensuring the accurate and
            up-to-date documentation of all software development activities.
          </li>
        </ul>

        <p class="box-text">5. Audits and Inspections:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Prepare the organization for regulatory audits and inspections
            related to medical device software.
          </li>
          <li class="box-list_item">
            Address findings, implement corrective actions, and continuously
            improve quality and compliance.
          </li>
        </ul>

        <p class="box-text">6. Post-Market Surveillance:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Monitor and analyze post-market data, including adverse event
            reports, to identify and address potential safety or quality issues
            related to the software.
          </li>
        </ul>

        <p class="box-text">7. Training and Education:</p>
        <ul class="box-list">
          <li class="box-list_item">
            Educate and train employees on regulatory compliance and quality
            assurance processes.
          </li>
        </ul>
      </div>
      <p class="text">
        These roles and responsibilities are designed to ensure that medical
        device software is developed, maintained, and marketed in a manner that
        meets both regulatory requirements and the highest standards of quality
        and safety. Collaboration with cross-functional teams, including
        software development, regulatory affairs, quality assurance, and
        clinical experts, is essential to navigate the regulatory landscape and
        successfully bring medical device software to market.
      </p>
      <h3 class="text fs-16px fw-bold d-inline">Education Requirements:</h3>
      <span class="text"
        >MS in Science Field and 5+ Years of Experience. Thorough understanding
        of ISO 13485, EMEA, EU and FDA regulations.</span
      >
    </div>
  </div>
</div>
