<nav class="navbar navbar-expand-lg header-container">
  <div class="container">
    <a class="navbar-brand" routerLink="/"
      ><img src="assets/imgs/Logo-antrix.png" alt=""
    /></a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <img src="assets/icons/icon-menu.svg" alt="" />
    </button>
    <div
      class="offcanvas bg-dark offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!-- <div class="offcanvas-header bg-light">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div> -->
      <div class="offcanvas-body">
        <ul
          class="header-navbar navbar-nav align-items-center justify-content-center flex-grow-1"
        >
          <li class="nav-item">
            <a
              class="header-navbar_link nav-link"
              aria-current="page"
              routerLink="/info/services"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a class="header-navbar_link nav-link" routerLink="/info/products"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a class="header-navbar_link nav-link" routerLink="pricing"
              >Pricing</a
            >
          </li>
          <li class="nav-item">
            <a class="header-navbar_link nav-link" routerLink="resources"
              >Resources</a
            >
          </li>
          <li class="nav-item">
            <a class="header-navbar_link nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="header-navbar_link nav-link" href="#contact">Contact</a>
          </li>
        </ul>
        <button
          type="button"
          class="header-navbar_btn nav_list-btn d-lg-flex d-none"
        >
          Book a Consultation
        </button>
      </div>
    </div>
  </div>
</nav>
