<div id="contact" class="footer-container">
  <div class="container">
    <div class="d-flex flex-column align-items-center flex-gap-48px">
      <h2 class="footer-header text-white">CONTACT US</h2>
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="contactUs-form w-50"
      >
        <div class="form-container row">
          <div class="form-input col-lg-6 col-sm-12">
            <label class="input-label">Frist name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Frist name"
                formControlName="firstName"
              />
            </div>
          </div>
          <div class="form-input col-lg-6 col-sm-12">
            <label class="input-label">Last name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Last name"
                formControlName="name"
              />
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Email</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="form-input">
            <label class="input-label">Telephone no</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Telephone no"
                formControlName="phoneNumber"
              />
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Company name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Company name"
                formControlName="CompanyName"
              />
            </div>
          </div>
          <div class="form-input">
            <label class="input-label">Job title</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Job title"
                formControlName="JobTitle"
              />
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Company website</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Company website"
                formControlName="CompanyWebsite"
              />
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Product and Services</label>
            <div class="input-text_wraper">
              <select
                type="text"
                class="input-text"
                name="Select Product and Services"
                formControlName="ProductServices"
              >
                <option value="" disabled selected>
                  Select Product and Services
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Part No</label>
            <div class="input-text_wraper">
              <select
                type="text"
                class="input-text"
                name="Select Part No"
                formControlName="PartNo"
              >
                <option value="" disabled selected>Select Part No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Message</label>
            <div class="input-text_wraper">
              <textarea
                type="text"
                class="input-text"
                placeholder="Leave us a message..."
                formControlName="Message"
              ></textarea>
            </div>
          </div>
        </div>
        <re-captcha
          class="m-auto"
          (resolved)="resolved($event)"
          siteKey="6LfIKg8pAAAAAMaCv2AwZPDmCum9a5q3ZoBhFBmC"
        ></re-captcha>
        <button class="form-submit_btn">Submit</button>
      </form>
      <iframe
        class="google-iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25369.655053790288!2d-122.0470862522431!3d37.36128141678851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68faba6aaab%3A0x964753a81a5cecc0!2sAntrix!5e0!3m2!1svi!2s!4v1699977411518!5m2!1svi!2s"
        width="800"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
