<div id="contact" class="footer-container">
  <div class="container">
    <div class="d-flex flex-column align-items-center flex-gap-48px">
      <div class="text-center">
        <h2 class="footer-header text-white">CONTACT US</h2>
        <h2 class="footer-header text-white">Book Now</h2>
      </div>
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="contactUs-form w-50"
      >
        <div class="form-container row">
          <div class="form-input col-lg-6 col-sm-12">
            <label class="input-label">First name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Frist name"
                formControlName="firstName"
              />
              <img
                *ngIf="
                  contactForm.get('firstName')?.invalid &&
                  (contactForm.get('firstName')?.dirty ||
                    contactForm.get('firstName')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('firstName')?.invalid &&
                (contactForm.get('firstName')?.dirty ||
                  contactForm.get('firstName')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('firstName')?.errors?.['required']">
                Please enter your first name
              </p>
            </div>
          </div>
          <div class="form-input col-lg-6 col-sm-12">
            <label class="input-label">Last name*</label>
            <div class="input-text_wraper">
              <input
                type="text"
                id="name"
                class="input-text"
                placeholder="Last name"
                formControlName="lastName"
              />
              <img
                *ngIf="
                  contactForm.get('lastName')?.invalid &&
                  (contactForm.get('lastName')?.dirty ||
                    contactForm.get('lastName')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('lastName')?.invalid &&
                (contactForm.get('lastName')?.dirty ||
                  contactForm.get('lastName')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('lastName')?.errors?.['required']">
                Please enter your last name
              </p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Email*</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Email"
                formControlName="email"
              />
              <img
                *ngIf="
                  contactForm.get('email')?.invalid &&
                  (contactForm.get('email')?.dirty ||
                    contactForm.get('email')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.dirty ||
                  contactForm.get('email')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('email')?.errors?.['required']">
                Please enter your email
              </p>
              <p *ngIf="contactForm.get('email')?.errors?.['email']">
                Please enter valid email
              </p>
            </div>
          </div>
          <div class="form-input">
            <label class="input-label">Telephone no*</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Telephone no"
                formControlName="phone"
              />
              <img
                *ngIf="
                  contactForm.get('phone')?.invalid &&
                  (contactForm.get('phone')?.dirty ||
                    contactForm.get('phone')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('phone')?.invalid &&
                (contactForm.get('phone')?.dirty ||
                  contactForm.get('phone')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('phone')?.errors?.['required']">
                Please enter your phone number
              </p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Company name*</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Company name"
                formControlName="company"
              />
              <img
                *ngIf="
                  contactForm.get('company')?.invalid &&
                  (contactForm.get('company')?.dirty ||
                    contactForm.get('company')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('company')?.invalid &&
                (contactForm.get('company')?.dirty ||
                  contactForm.get('company')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('company')?.errors?.['required']">
                Please enter your company name
              </p>
            </div>
          </div>
          <div class="form-input">
            <label class="input-label">Job title*</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Job title"
                formControlName="jobTitle"
              />
              <img
                *ngIf="
                  contactForm.get('jobTitle')?.invalid &&
                  (contactForm.get('jobTitle')?.dirty ||
                    contactForm.get('jobTitle')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('jobTitle')?.invalid &&
                (contactForm.get('jobTitle')?.dirty ||
                  contactForm.get('jobTitle')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('jobTitle')?.errors?.['required']">
                Please enter your job title
              </p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Company website*</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Company website"
                formControlName="companyWeb"
              />
              <img
                *ngIf="
                  contactForm.get('companyWeb')?.invalid &&
                  (contactForm.get('companyWeb')?.dirty ||
                    contactForm.get('companyWeb')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('companyWeb')?.invalid &&
                (contactForm.get('companyWeb')?.dirty ||
                  contactForm.get('companyWeb')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('companyWeb')?.errors?.['required']">
                Please enter your company website
              </p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Product and Services*</label>
            <div class="input-text_wraper">
              <select
                type="text"
                class="select-text"
                name="Select Product and Services"
                formControlName="prodService"
                (change)="onProductServiceChange($event)"
              >
                <option value="" disabled selected>
                  Select Products and Services
                </option>
                <optgroup label="Products">
                  <option
                    *ngFor="let product of Products"
                    [value]="product.Name"
                  >
                    {{ product.Name }}
                  </option>
                </optgroup>
                <optgroup label="Services">
                  <option
                    *ngFor="let service of Services"
                    [value]="service.Name"
                  >
                    {{ service.Name }}
                  </option>
                </optgroup>
                <optgroup label="Pricing">
                  <option *ngFor="let price of Pricings" [value]="price">
                    {{ price }}
                  </option>
                </optgroup>
              </select>
              <img
                *ngIf="
                  contactForm.get('prodService')?.invalid &&
                  (contactForm.get('prodService')?.dirty ||
                    contactForm.get('prodService')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('prodService')?.invalid &&
                (contactForm.get('prodService')?.dirty ||
                  contactForm.get('prodService')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('prodService')?.errors?.['required']">
                Please enter products or services
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="!isHidden" class="form-container">
          <div class="form-input">
            <label class="input-label">Part No*</label>
            <div class="input-text_wraper">
              <select
                [class.hide-icon-select]="!isHidden"
                type="text"
                class="select-text"
                name="Select Part No"
                formControlName="partNo"
              >
                <option value="" disabled selected>Select Part No</option>
                <optgroup label="Products">
                  <option
                    *ngFor="let product of Products"
                    value="{{ product.PartNumber }}"
                  >
                    {{ product.PartNumber }}
                  </option>
                </optgroup>
                <optgroup label="Services">
                  <option
                    *ngFor="let service of Services"
                    value="{{ service.PartNumber }}"
                  >
                    {{ service.PartNumber }}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Message*</label>
            <div class="input-text_wraper">
              <textarea
                type="text"
                class="textarea-text"
                placeholder="Please provide details about your medical device"
                formControlName="message"
              ></textarea>
              <img
                *ngIf="
                  contactForm.get('message')?.invalid &&
                  (contactForm.get('message')?.dirty ||
                    contactForm.get('message')?.touched)
                "
                src="assets/icons/icon-alert-circle.svg"
                alt=""
              />
            </div>
            <div
              *ngIf="
                contactForm.get('message')?.invalid &&
                (contactForm.get('message')?.dirty ||
                  contactForm.get('message')?.touched)
              "
              class="error-text"
            >
              <p *ngIf="contactForm.get('message')?.errors?.['required']">
                Please enter your message
              </p>
            </div>
          </div>
        </div>
        <re-captcha
          class="m-auto"
          (resolved)="resolved($event)"
          siteKey="6LfIKg8pAAAAAMaCv2AwZPDmCum9a5q3ZoBhFBmC"
        ></re-captcha>
        <button [disabled]="contactForm.invalid" class="form-submit_btn">
          Submit
        </button>
      </form>
      <iframe
        class="w-70"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d792.7994946887602!2d-122.04824770080262!3d37.361492100000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68faba6aaab%3A0x964753a81a5cecc0!2sAntrix!5e0!3m2!1sen!2s!4v1700565139969!5m2!1sen!2s"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isConfirmRequestPopupOpened"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
  nzMaskClosable="true"
  nzClassName="request-livedemo-modal"
>
  <ng-container *nzModalContent>
    <div>
      <div class="header">
        <img class="header-img bg-img" src="assets/imgs/Logo-antrix.png"/>
      </div>
      <div class="content-wrapper w-100">
        <div
          class="d-flex justify-content-between align-items-center flex-column flex-gap-16px w-100"
        >
          <img class="close-icon" src="assets/icons/icon-circle-check-2.svg"/>
          <p class="popup-title">Thank you for submitting the form.</p>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
