<div id="contact" class="footer-container">
  <div class="container">
    <div class="d-flex flex-column align-items-center flex-gap-48px">
      <h2 class="footer-header text-white">CONTACT US</h2>
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="contactUs-form w-50"
      >
        <div class="form-container row">
          <div class="form-input col-lg-6 col-sm-12">
            <label class="input-label">Frist name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Frist name"
                formControlName="name"
              />
              <img *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('name')?.errors?.['required']">Please enter you first name</p>
            </div>
          </div>
          <div class="form-input col-lg-6 col-sm-12">
            <label class="input-label">Last name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                id="name"
                class="input-text"
                placeholder="Last name"
                formControlName="lastName"
              />
              <img *ngIf="contactForm.get('lastName')?.invalid && (contactForm.get('lastName')?.dirty || contactForm.get('lastName')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('lastName')?.invalid && (contactForm.get('lastName')?.dirty || contactForm.get('lastName')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('lastName')?.errors?.['required']">Please enter you last name</p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Email</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Email"
                formControlName="email"
              />
              <img *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('email')?.errors?.['required']">Please enter you email</p>
              <p *ngIf="contactForm.get('email')?.errors?.['email']">Please enter valid email</p>
            </div>
          </div>
          <div class="form-input">
            <label class="input-label">Telephone no</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Telephone no"
                formControlName="phoneNumber"
              />
              <img *ngIf="contactForm.get('phoneNumber')?.invalid && (contactForm.get('phoneNumber')?.dirty || contactForm.get('phoneNumber')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('phoneNumber')?.invalid && (contactForm.get('phoneNumber')?.dirty || contactForm.get('phoneNumber')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('phoneNumber')?.errors?.['required']">Please enter your phonenumber</p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Company name</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Company name"
                formControlName="CompanyName"
              />
              <img *ngIf="contactForm.get('CompanyName')?.invalid && (contactForm.get('CompanyName')?.dirty || contactForm.get('CompanyName')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('CompanyName')?.invalid && (contactForm.get('CompanyName')?.dirty || contactForm.get('CompanyName')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('CompanyName')?.errors?.['required']">Please enter your company name</p>
            </div>
          </div>
          <div class="form-input">
            <label class="input-label">Job title</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Job title"
                formControlName="JobTitle"
              />
              <img *ngIf="contactForm.get('JobTitle')?.invalid && (contactForm.get('JobTitle')?.dirty || contactForm.get('JobTitle')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('JobTitle')?.invalid && (contactForm.get('JobTitle')?.dirty || contactForm.get('JobTitle')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('JobTitle')?.errors?.['required']">Please enter your job title</p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Company website</label>
            <div class="input-text_wraper">
              <input
                type="text"
                class="input-text"
                placeholder="Company website"
                formControlName="CompanyWebsite"
              />
              <img *ngIf="contactForm.get('CompanyWebsite')?.invalid && (contactForm.get('CompanyWebsite')?.dirty || contactForm.get('CompanyWebsite')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('CompanyWebsite')?.invalid && (contactForm.get('CompanyWebsite')?.dirty || contactForm.get('CompanyWebsite')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('CompanyWebsite')?.errors?.['required']">Please enter your company website</p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Pricing</label>
            <div class="input-text_wraper">
              <select
                class="input-text"
                name="Select Price"
                formControlName="Pricing"
              >
                <option class="input-text_option" value="" disabled>
                  Select Price
                </option>
                <option *ngFor="let price of Pricings" [value]=price>
                  {{price}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Product and Services</label>
            <div class="input-text_wraper">
              <select
                type="text"
                class="input-text"
                name="Select Product and Services"
                formControlName="ProductServices"
              >
                <option value="" disabled selected>
                  Select Products and Services
                </option>
                <optgroup label="Products">
                  <option
                    *ngFor="let product of Products"
                    value="{{ product.Name }}"
                  >
                    {{ product.Name }}
                  </option>
                </optgroup>
                <optgroup label="Services">
                  <option
                    *ngFor="let service of Services"
                    value="{{ service.Name }}"
                  >
                    {{ service.Name }}
                  </option>
                </optgroup>
              </select>
              <img *ngIf="contactForm.get('ProductServices')?.invalid && (contactForm.get('ProductServices')?.dirty || contactForm.get('ProductServices')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('ProductServices')?.invalid && (contactForm.get('ProductServices')?.dirty || contactForm.get('ProductServices')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('ProductServices')?.errors?.['required']">Please enter products or services</p>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Part No</label>
            <div class="input-text_wraper">
              <select
                type="text"
                class="input-text"
                name="Select Part No"
                formControlName="PartNo"
              >
                <option value="" disabled selected>Select Part No</option>
                <optgroup label="Products">
                  <option
                    *ngFor="let product of Products"
                    value="{{ product.PartNumber }}"
                  >
                    {{ product.PartNumber }}
                  </option>
                </optgroup>
                <optgroup label="Services">
                  <option
                    *ngFor="let service of Services"
                    value="{{ service.PartNumber }}"
                  >
                    {{ service.PartNumber }}
                  </option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div class="form-container">
          <div class="form-input">
            <label class="input-label">Message</label>
            <div class="input-text_wraper">
              <textarea
                type="text"
                class="input-text"
                placeholder="Leave us a message..."
                formControlName="Message"
              ></textarea>
              <img *ngIf="contactForm.get('Message')?.invalid && (contactForm.get('Message')?.dirty || contactForm.get('Message')?.touched)" src="assets/icons/icon-alert-circle.svg" alt="">
            </div>
            <div *ngIf="contactForm.get('Message')?.invalid && (contactForm.get('Message')?.dirty || contactForm.get('Message')?.touched)" class="error-text">
              <p *ngIf="contactForm.get('Message')?.errors?.['required']">Please enter your message</p>
            </div>
          </div>
        </div>
        <re-captcha
          class="m-auto"
          (resolved)="resolved($event)"
          siteKey="6LfIKg8pAAAAAMaCv2AwZPDmCum9a5q3ZoBhFBmC"
        ></re-captcha>
        <button [disabled]="contactForm.invalid" class="form-submit_btn">Submit</button>
      </form>
      <iframe
        class="w-70"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d792.7994946887602!2d-122.04824770080262!3d37.361492100000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68faba6aaab%3A0x964753a81a5cecc0!2sAntrix!5e0!3m2!1sen!2s!4v1700565139969!5m2!1sen!2s"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
