<app-contact-form></app-contact-form>

<div class="footer-wrapper">
  <div class="container">
    <div class="footer d-flex justify-content-between mb-32px">
      <div class="d-flex flex-column flex-gap-32px">
        <div class="p-5px">
          <img src="assets/imgs/Logo-antrix.png" alt="" />
        </div>
        <div class="contact-info d-flex flex-column flex-gap-12px">
          <div class="d-flex flex-gap-8px text-white">
            <p class="w-50px fw-light">Email</p>
            <p class="fw-medium">info&#64;antrix.com - bill&#64;antrix.com</p>
          </div>
          <div class="d-flex flex-gap-8px text-white">
            <p class="w-50px fw-light">Phone</p>
            <p class="fw-medium">408 733 1199 - 408 730 5959</p>
          </div>
          <div class="d-flex flex-gap-8px text-white">
            <p class="w-50px fw-light">Office</p>
            <p class="fw-medium">
              Antrix, Inc819 Peekskill DrSunnyvale,CA 94087
            </p>
          </div>
          <div class="d-flex flex-gap-32px">
            <a class="fw-medium"
              ><a class="text-white" routerLink="faq">FAQ</a></a
            >
            <p class="fw-medium">
              <a class="text-white" routerLink="careers">Careers</a>
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-gap-16px">
        <p class="text-menu">MENU</p>
        <div class="d-flex flex-column flex-gap-12px">
          <div class="d-flex flex-gap-12px text-white">
            <p class="w-100 fw-medium">Services</p>
            <p class="w-100 fw-medium">Resources</p>
          </div>
          <div class="d-flex flex-gap-12px text-white">
            <p class="w-100 fw-medium">Products</p>
            <p class="w-100 fw-medium">About</p>
          </div>
          <div class="d-flex flex-gap-12px text-white">
            <p class="w-100 fw-medium">Plans&Pricing</p>
            <p class="w-100 fw-medium">Contact</p>
          </div>
        </div>

        <hr class="text-white" />
        <span class="text-small"
          >* Zero major finding for contents of procedures and forms. Customer
          is responsible for major findings due to inadequate implementation and
          records</span
        >
      </div>
    </div>
    <hr class="text-white" />
    <div class="signature">
      © 2024 ANTRIX. All rights reserved. Designed by NeoPrototype
    </div>
  </div>
</div>
