<!-- <div class="d-flex flex-gap-32px flex-wrap">
  <div *ngFor="let data of ProductsData; let i = index" class="card">
    <img
      class="card-img-top"
      src="assets/imgs/{{ data.imgPath }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title m-0">{{ data.Name }}</h5>
      <div>
        <span class="card-subTitle mr-12px">Part Number:</span>
        <span class="card-subTitle fw-medium">{{ data.PartNumber }}</span>
      </div>

      <p class="card-text m-0">
        {{ data.Description }}
      </p>
      <div class="d-flex flex-gap-24px">
        <button (click)="showModal(i)" class="first-btn">
          {{ FirstBtnText }}
        </button>
        <button class="second-btn">Book Consultation</button>
      </div>
      <div
        [hidden]="activeItemIndex !== i"
        class="details-modal-overlay"
        (click)="closeModal()"
      >
        <div class="details-modal">
          <div (click)="closeModal()" class="details-modal-close">
            <img class="z-1" src="assets/icons/icon-x-close.svg" alt="" />
          </div>
          <div class="details-modal-header">
            <h1 class="details-modal-header_name">{{ data.Name }}</h1>
            <span class="card-subTitle mr-12px">Part Number:</span>
            <span class="card-subTitle fw-medium">{{ data.PartNumber }}</span>
          </div>
          <div class="details-modal-content">
            <img
              class="details-modal-content_img"
              src="assets/imgs/{{ data.imgPath }}"
              alt=""
            />
            <p class="details-modal-content_description">
              {{ data.Description }}
            </p>
            <button class="details-modal-content_btn">Purchase Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div
    *ngFor="let data of ProductsData; let i = index"
    class="col-lg-4 col-md-6 pr-16px pl-16px mb-32px"
  >
    <div class="card">
      <img
        class="card-img-top"
        src="assets/imgs/{{ data.imgPath }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title m-0">{{ data.Name }}</h5>
        <div>
          <span class="card-subTitle mr-12px">Part Number:</span>
          <span class="card-subTitle fw-medium">{{ data.PartNumber }}</span>
        </div>

        <p class="card-text m-0">
          {{ data.Description }}
        </p>
        <div class="d-flex flex-gap-24px">
          <button (click)="showModal(i)" class="first-btn">
            {{ FirstBtnText }}
          </button>
          <button class="second-btn">Learn more</button>
        </div>
        <p class="card-subText text-center">
          {{ SubText }}
        </p>
        <!-- OPEN MODAL -->
        <div
          [hidden]="activeItemIndex !== i"
          class="details-modal-overlay"
          (click)="closeModal()"
        >
          <div class="details-modal">
            <div (click)="closeModal()" class="details-modal-close">
              <img class="z-1" src="assets/icons/icon-x-close.svg" alt="" />
            </div>
            <div class="details-modal-header">
              <h1 class="details-modal-header_name">{{ data.Name }}</h1>
              <span class="card-subTitle mr-12px">Part Number:</span>
              <span class="card-subTitle fw-medium">{{ data.PartNumber }}</span>
            </div>
            <div class="details-modal-content">
              <img
                class="details-modal-content_img"
                src="assets/imgs/{{ data.imgPath }}"
                alt=""
              />
              <p class="details-modal-content_description">
                {{ data.Description }}
              </p>
              <button class="details-modal-content_btn">
                {{ FirstBtnText }}
              </button>
              <p class="card-subText text-center">
                {{ SubText }}
              </p>
            </div>
          </div>
        </div>
        <!-- END MODAL -->
      </div>
    </div>
  </div>
</div>
