<div class="d-flex flex-column flex-gap-24px align-items-center mb-32px">
  <h1 class="header m-0">{{ header }}</h1>
  <div class="search-container d-flex justify-content-center w-50">
    <div class="search-box">
      <img class="search-box_icon" src="assets/icons/icon-search.svg" alt="" />
      <form class="w-100">
        <input
          class="search-box_input"
          placeholder="{{ placeHolder }}"
          type="text"
        />
      </form>
    </div>
    <button class="search-container_btn">Search</button>
  </div>
</div>
