<div class="slider-wraper" id="clients">
  <h2 class="text-center silder-header">OUR CLIENTS</h2>
  <div class="slider p-24px">
    <div class="silde-track_right">
      <img src="assets/imgs/Logo-1.png" alt=""/>
      <img src="assets/imgs/Logo-2.png" alt=""/>
      <img src="assets/imgs/Logo-3.png" alt=""/>
      <img src="assets/imgs/Logo-4.png" alt=""/>
      <img src="assets/imgs/Logo-5.png" alt=""/>
      <img src="assets/imgs/Logo-6.png" alt=""/>
      <img src="assets/imgs/Logo-6.5.png" alt=""/>
      <img src="assets/imgs/Logo-13.png" alt=""/>
    </div>
    <div class="silde-track_right">
      <img src="assets/imgs/Logo-1.png" alt=""/>
      <img src="assets/imgs/Logo-2.png" alt=""/>
      <img src="assets/imgs/Logo-3.png" alt=""/>
      <img src="assets/imgs/Logo-4.png" alt=""/>
      <img src="assets/imgs/Logo-5.png" alt=""/>
      <img src="assets/imgs/Logo-6.png" alt=""/>
      <img src="assets/imgs/Logo-6.5.png" alt=""/>
      <img src="assets/imgs/Logo-13.png" alt=""/>
    </div>
  </div>

  <hr class="hr"/>

  <div class="slider p-24px">
    <div class="silde-track_left">
      <img src="assets/imgs/Logo-7.png" alt=""/>
      <img src="assets/imgs/Logo-8.png" alt=""/>
      <img src="assets/imgs/Logo-9.png" alt=""/>
      <img src="assets/imgs/Logo-10.png" alt=""/>
      <img src="assets/imgs/Logo-11.png" alt=""/>
      <img src="assets/imgs/Logo-12.png" alt=""/>
      <img src="assets/imgs/Logo-14.png" alt=""/>
      <img src="assets/imgs/Logo-15.png" alt=""/>
    </div>
    <div class="silde-track_left">
      <img src="assets/imgs/Logo-7.png" alt=""/>
      <img src="assets/imgs/Logo-8.png" alt=""/>
      <img src="assets/imgs/Logo-9.png" alt=""/>
      <img src="assets/imgs/Logo-10.png" alt=""/>
      <img src="assets/imgs/Logo-11.png" alt=""/>
      <img src="assets/imgs/Logo-12.png" alt=""/>
      <img src="assets/imgs/Logo-14.png" alt=""/>
      <img src="assets/imgs/Logo-15.png" alt=""/>
    </div>
  </div>

  <div class="image-list">
    <img class="image-list_item" src="assets/imgs/Logo-6.5.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-2.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-1.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-3.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-4.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-5.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-6.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-12.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-7.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-8.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-9.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-10.png" alt=""/>
    <img class="image-list_item" src="assets/imgs/Logo-11.png" alt=""/>
  </div>
</div>
