<div class="slider-wraper">
  <div class="container">
    <div class="slider-container position-relative">
      <swiper-container
        navigation-next-el=".custom-next-button"
        navigation-prev-el=".custom-prev-button"
        class="mySwiper"
        #swiper
      >
        <swiper-slide class="swiper-slide">
          <div class="d-flex flex-column w-50 flex-gap-48px align-items-center">
            <h2 class="slider-header fs-34px">TESTIMONIALS</h2>
            <p class="text-center fs-20px slider-text">
              “Antrix provided us with expert regulatory affairs and quality
              assurance consulting services. They helped us set up our US FDA
              CFR 820, ISO 13485, ISO 15189, CLIA, CAP, and NYSDOH Quality
              Management System and get certified. We are extremely happy with
              their services and would highly recommend them to anyone looking
              for similar services.”
            </p>
            <p class="slider-subText">Quality and Operations Manager</p>
          </div>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <div class="d-flex flex-column w-50 flex-gap-48px align-items-center">
            <h2 class="slider-header fs-34px">TESTIMONIALS</h2>
            <p class="text-center fs-20px slider-text">
              “Antrix provided us with expert regulatory affairs and quality
              assurance consulting services. They helped us set up our US FDA
              CFR 820, ISO 13485, ISO 15189, CLIA, CAP, and NYSDOH Quality
              Management System and get certified. We are extremely happy with
              their services and would highly recommend them to anyone looking
              for similar services.”
            </p>
            <p class="slider-subText">Quality and Operations Manager</p>
          </div>
        </swiper-slide>
      </swiper-container>
      <button class="custom-next-button">
        <img src="assets/icons/icon-chevron-right.svg" alt="" />
      </button>
      <div class="custom-prev-button">
        <img src="assets/icons/icon-chevron-left.svg" alt="" />
      </div>
    </div>
  </div>
</div>
