@import "../../../styles.scss";

.home-banner {
  background: url("../../../assets/imgs/Home-banner-1.png") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  display: flex;
  align-items: center;

  .home-banner_content {
    padding: 32px 48px;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    width: 60%;
    gap: 32px;

    .home-banner_header {
      color: $color_primary--700;
      font-size: 26px;
      font-weight: 400;
      line-height: 50.4px; /* 193.846% */
    }

    .home-banner_text {
      color: $color_primary--700;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      text-align: center;
    }

    .home-banner_btn {
      padding: 16px 28px;
      color: #fff;
      border: 1px solid $color_primary--600;
      background: $color_primary--600;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      font-weight: 500;
    }
  }
}

.content-container {
  padding: 48px 32px;

  .content-description {
    color: $color_primary--900;
    font-size: 16px;
    font-weight: 400;
    min-height: 75.42px;
  }

  &_header {
    color: $color_primary--700;
    font-size: 34px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.7px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  &_subHeader {
    white-space: unset;
  }

  .content-container_img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 260px;

    &--EXPERTISE {
      width: 100%;
      margin: auto;
      background-size: auto !important;
    }
  }

  .content-container-box {
    min-height: 385px;
  }

  .content-list {
    list-style-type: none;

    .content-list_item {
      line-height: 170%;
      font-weight: 300;
      font-size: 14px;
      color: $color_primary--900;
    }

    &-text {
      line-height: 170%;
      font-weight: 300;
      font-size: 14px;
      color: #051826;
    }
  }

  .content-container_btn {
    padding: 12px 20px;
    border: 1px solid $color_primary--300;
    background: var(--base-white, #fff);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: $color_primary--600;
    font-size: 16px;
    font-weight: 500;
    line-height: 170%;
    margin: auto;
    white-space: nowrap;
  }
}

.advantage-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;

  .advantage-banner_header {
    color: $color_primary--700;
    font-weight: 400;
    letter-spacing: 1.7px;
    line-height: 150%;
    margin-bottom: 24px;
    font-size: 34px;
  }

  .advantage-banner_img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto !important;
    min-height: 260px;
    width: 100%;
    margin: auto;
  }

  .advantage-banner_description {
    color: $color_primary--800;
    max-width: 800px;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 32px;
    font-size: 16px;
  }

  .advantage-btn {
    padding: 16px 28px;
    color: #fff;
    border: 1px solid $color_primary--600;
    background: $color_primary--600;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-weight: 500;
  }

  .advantage-item {
    width: 325px;
    flex: 1 1 0px;

    .advantage-banner_card {
      padding: 32px 24px;
      background-color: $color_primary--600;
      height: 100%;

      &-header {
        color: var(--base-white, #fff);
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        white-space: nowrap;
      }

      p,
      .price {
        color: #eaecf0;
        font-weight: 400;
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 30px;
        line-height: 38px;
        font-weight: 500;
      }
    }
  }
}

.aboutus-banner {
  background: url("../../../assets/imgs/Home-banner-2.png") no-repeat;
  background-size: cover;
  background-position: center center;
  //min-height: 461px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px 0;

  .aboutus-heading {
    color: $color_primary--700;
    letter-spacing: 1.7px;
    line-height: 150%;
    font-size: 34px;
    font-weight: 400;
  }

  .aboutus-text {
    font-weight: 300;
    line-height: 170%;
  }

  .aboutus-btn {
    color: $color_primary--600;
    background-color: transparent;
    font-weight: 600;
    line-height: 170%;
    padding: 12px 20px;
    border: 1px solid var(--primary-300, #bbc8d2);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

@include mobile {
  .home-banner_content {
    padding: 24px 12px !important;
  }
  .home-banner_header {
    font-size: 18px !important;
    line-height: 150% !important;
  }

  .home-banner_text {
    font-size: 14px !important;
    line-height: 170% !important;
  }

  .home-banner_btn {
    padding: 10px 18px !important;
  }

  .content-container {
    padding: 24px 8px !important;

    &-box {
      height: 355px !important;
      gap: 16px !important;
    }

    &_btn:last-child {
      margin-top: 12px !important;
    }
  }

  .content-container-box {
    min-height: 0 !important;
    height: unset !important;
  }

  .slider-header {
    margin: 0 !important;
  }

  .advantage-banner_card-header {
    white-space: unset !important;
  }
}

@include tablet {
  .content-container-box {
    min-height: 0 !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .content-container-box {
    min-height: 435px !important;
  }

  .content-description {
    min-height: 100.56px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content-container-box {
    min-height: 530px !important;
  }

  .content-description {
    min-height: 125.7px !important;
  }
}
