<div class="home-banner">
  <div class="container">
    <div class="home-banner_content d-flex align-items-center flex-column">
      <h3 class="home-banner_header text-center">
        Next Generation IVD, LDT, Medical Device, Software, Cybersecurity,
        Digital Health Regulatory, Clinical, Quality Assurance Consulting
        Services and Products Powered by AI, ML and NLP
      </h3>
      <p class="home-banner_text m-0 fs-20px">
        We Guarantee 0 Major Inspection Findings*
      </p>
      <button (click)="onClick('contact')" class="home-banner_btn">
        Book Now
      </button>
    </div>
  </div>
</div>

<div class="container" data-aos="fade-up">
  <!--Services And Products banner-->
  <div class="mt-3">
    <div class="row">
      <div *ngFor="let content of Contents" class="col-lg-4 col-md-12">
        <div class="content-container d-flex flex-column flex-gap-24px">
          <h2 class="content-container_header text-center">
            {{ content.header }}
          </h2>
          <div
            class="wraper d-flex flex-column flex-gap-24px content-container-box"
          >
            <p class="text-center content-description">
              {{ content.description }}
            </p>
            <ul
              *ngIf="content.list && content.list.length > 0"
              class="content-list p-0 m-0"
            >
              <li
                *ngFor="let item of content.list; let idx = index"
                class="content-list_item"
              >
                {{ idx + 1 }}. {{ item }}
              </li>
            </ul>
          </div>
          <button
            *ngIf="content.list && content.list.length > 0"
            routerLink="{{ content.link }}"
            class="content-container_btn"
          >
            Learn more
          </button>
          <a
            *ngIf="content.list && content.list.length < 1"
            (click)="onClick('clients')"
            class="content-container_btn"
          >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<div data-aos="fade-up" data-aos-duration="2000" class="container">
  <!--Advantage banner-->
  <div class="advantage-banner">
    <h2 class="advantage-banner_header">YOUR SAVINGS</h2>
    <p class="advantage-banner_description">
      Powered by Generative AI, ML, and NPL - Data mining the regulatory
      agencies predicate devices, clinical studies, and PMS databases accelerate
      product development and save millions of dollars on delayed launches,
      recalls, adverse events, and quality issues. Recognize revenue faster
    </p>
    <div class="d-flex flex-wrap flex-gap-32px w-100">
      <div *ngFor="let advan of Advantages" class="advantage-item">
        <div class="advantage-banner_card text-center text-white">
          <img class="mb-20px" src="assets/icons/{{ advan.icon }}" alt=""/>
          <h4 class="advantage-banner_card-header mb-12px">
            {{ advan.header }}
          </h4>
          <p class="fs-20px lh-30px">Save</p>
          <div class="price">
            >
            <span class="dollar fs-16px mb-15px">$</span>
            <span class="ammount">{{ advan.ammount }} Million</span>
          </div>
          <p class="fs-12px lh-30px">{{advan.subText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About us banner -->
<div class="aboutus-banner mb-48px">
  <div class="container">
    <div class="d-flex flex-column align-items-center flex-gap-24px">
      <h2 class="m-0 aboutus-heading">ABOUT US</h2>
      <p class="m-0 aboutus-text">
        Antrix provides expert regulatory affairs, clinical affairs, and quality
        assurance consulting services and sells products to the Medical Device,
        IVD, LDT, Life Science, Pharmaceutical, Biotech, Cosmetics, and Food
        Industries worldwide powered by Artificial Intelligence (AI), Machine
        Learning (ML), and Natural Language Processing (NLP). We believe in
        delivering quality and timely services to our clients to ensure their
        success in the market. Our team of experts has years of experience in
        the field and is dedicated to providing the best services to our
        clients. Contact us today to learn more about how we can help you
        achieve success in the market.
      </p>
      <button routerLink="about" class="aboutus-btn">Learn More</button>
    </div>
  </div>
</div>

<!-- Auto Slide Logo -->
<app-auto-slide-logo></app-auto-slide-logo>

<!-- Text Slide -->
<app-text-slider></app-text-slider>
